<ion-list lines="none">
  <ion-list-header>Menu</ion-list-header>
  <ion-item color="dark">
    <ion-label> Settings </ion-label>
    <ion-icon name="settings" slot="end"></ion-icon>
  </ion-item>
  <ion-item color="dark">
    <ion-label> My numbers </ion-label>
    <ion-icon name="call" slot="end"></ion-icon>
  </ion-item>
  <ion-item color="dark">
    <ion-label> Privacy Policy </ion-label>
    <ion-icon name="text" slot="end"></ion-icon>
  </ion-item>
  <ion-item color="dark">
    <ion-label> Security </ion-label>
    <ion-icon name="lock-open"></ion-icon>
  </ion-item>
  <ion-item color="dark">
    <ion-label> Log Out </ion-label>
    <ion-icon name="power" slot="end"></ion-icon>
  </ion-item>
</ion-list>
