<ion-list lines="none" class="container">

  <div class="white-bg-top">
    <!--
    <ion-item class="header">
      <ion-label class="ion-text-center" color="dark">
        <h1> <strong>Narcisse NOUMEGNI</strong> </h1>
        <span> <ion-icon name="location" color="primary"></ion-icon> <strong>Douala - Cameroon </strong> </span>
      </ion-label>
    </ion-item>  
    -->
    <ion-item class="header">
      <ion-label class="ion-text-center" color="dark">
        <h1> <strong>JETCAMER</strong> </h1>
        <span> <strong>Version 2.0.0</strong> </span>
      </ion-label>
    </ion-item>  
    <div class="vertical-center">
      <ion-icon name="person-circle-sharp" size="large" class="logo" color="light"></ion-icon>
    </div>  
  </div>
  <div class="box">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="full" fill="outlined" style="height: 75px;">
            <ion-label color="light"> 
              <ion-text>Rates</ion-text> <ion-icon name="caret-down-sharp" color="success"></ion-icon><ion-icon name="caret-up-sharp" color="danger"></ion-icon><br>
              <ion-label>0.000 XAF</ion-label><br>
              <ion-label style="font-size: 15px">aaaa-mm-jj hh:mm</ion-label><br>
            </ion-label>
            <!--
            <ion-label color="light"> 
              <strong> LOCAL BALANCE : 0.00 USD </strong> <br> 
              <strong> JETCAMER BALANCE : 0.00 EUR </strong> <br>
            </ion-label>
            <ion-icon name="sync" color="light" size="large"></ion-icon>  
            -->
          </ion-button>
        </ion-col>
    </ion-row>
    <ion-row style="margin-top: -15px;">
      <ion-col size="6">
        <ion-button expand="full" color="success">
          <fa-icon icon="piggy-bank" size="2x" slot="start"></fa-icon>
          <ion-text class="action-text"> &nbsp;<strong>Account</strong><br> &nbsp; <strong>Recharge</strong> </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" color="warning">
          <fa-icon icon="share-square" size="2x" slot="start" style="color:whitesmoke"></fa-icon>
          <ion-label color="light" class="action-text"> &nbsp; <strong>Send</strong> <br> &nbsp; <strong>Money</strong> </ion-label>
        </ion-button>          
      </ion-col>
    </ion-row>
    </ion-grid>
  </div>        
  <div class="white-bg-bottom">
    <ion-item class="footer">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-button class="action-button" fill="outlined">
              <ion-grid>
                <ion-row>
                  <ion-col> <fa-icon icon="money-bill-alt" size="2x"></fa-icon> </ion-col>
                  <ion-col class="action-text">  <strong>Send Money</strong>  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button class="action-button" fill="outlined">
              <ion-grid>
                <ion-row>
                  <ion-col> <fa-icon icon="mobile" size="2x"></fa-icon> </ion-col>
                  <ion-col class="action-text">  <strong>Air Time</strong> </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button class="action-button" fill="outlined">
              <ion-grid>
                <ion-row>
                  <ion-col> <ion-icon name="print" size="large" color="light"></ion-icon> </ion-col>
                  <ion-col class="action-text"> <strong><ion-text>Payment</ion-text></strong>  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button class="action-button" fill="outlined">
              <ion-grid>
                <ion-row>
                  <ion-col> <ion-icon name="swap-horizontal" size="large" color="light"></ion-icon> </ion-col>
                  <ion-col class="action-text">  <strong>Transfer</strong> </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button class="action-button" fill="outlined">
              <ion-grid>
                <ion-row>
                  <ion-col> <ion-icon name="stats-chart" size="large" color="light"></ion-icon> </ion-col>
                  <ion-col class="action-text">  <strong>Transaction</strong> </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button class="action-button" fill="outlined">
              <ion-grid>
                <ion-row>
                  <ion-col> <ion-icon name="card" size="large" color="light"></ion-icon> </ion-col>
                  <ion-col class="action-text">  <strong> <ion-text>Buy Credit</ion-text></strong>  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"> 
            <ion-button class="action-button" fill="outlined">
              <ion-grid>
                <ion-row>
                  <ion-col> <fa-icon icon="map-marked" size="2x"></fa-icon> </ion-col>                
                  <ion-col class="action-text">  <strong>Local Point</strong> </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
          <ion-col size="4"> 
            <ion-col size="4"> 
              <ion-button class="action-button" fill="outlined">
                <ion-grid>
                  <ion-row>
                    <ion-col> <fa-icon icon="wifi" size="2x"></fa-icon> </ion-col>                
                    <ion-col class="action-text">  <strong>Network</strong> </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-button>
            </ion-col>
          </ion-col>
          <ion-col size="4">  
            <ion-button class="action-button" fill="outlined" size="small">     
              <ion-grid>
                <ion-row>
                  <ion-col> <fa-icon icon="cart-arrow-down" size="2x"></fa-icon> </ion-col>                
                  <ion-col class="action-text"> <strong> <ion-text>Marketplace</ion-text></strong> </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>    
  </div>
</ion-list>