<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <fa-icon icon="user-alt" size="2x"></fa-icon> 
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <fa-icon icon="thumbs-up" size="2x"></fa-icon> 
      <ion-label>Suggest</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <fa-icon icon="balance-scale" size="2x"></fa-icon> 
      <ion-label>Change</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <fa-icon icon="power-off" size="2x"></fa-icon> 
      <ion-label>Log Out</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
