<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button size="small" slot="start" shape="round" (click)="changeLanguage('fr')" color="danger"> FR </ion-button>
    <ion-title class= "ion-text-center">
      {{ "HELLO" | translate }}
    </ion-title>
    <ion-button size="small" slot="end" shape="round" (click)="changeLanguage('en')" color="danger"> EN </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
